@CHARSET "ISO-8859-1";
body {
  padding-top: 110px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.summary_well{
	height: 350px;
}

#mainDataTable{
	margin: 0px;
	border: 0px;
}
#mainDataTable thead tr th{
	border-bottom: 0px;
	border-right: 0px;
}
#mainDataTable thead tr th a{
	color: #4572A7;
}
#mainDataTable thead tr th span{
	float: right;
}
#mainDataTable thead tr th.sort,#mainDataTable thead tr th.sort a{
	background-color: #39b3d7;
	color: white;
}
#mainDataTable thead tr:first-child th:first-child{
	border-left: 0px;
}
#mainDataTable tbody tr td{
	border-left: 0px;
	border-bottom: 0px;
}
#mainDataTable tbody tr td.right{
	text-align: right;
}

.loading{
	background-image:url('../images/loading_bar.gif');
	background-repeat:no-repeat;
	background-position:center;
}